.utio {
  --progress-border-radius: 0.25rem;
  --font-family: 0;
  --font-size: 0;
  --font-weight: 0;

  --progress-value--before: #7ed321;
  --progress-value--running: #12a5ed;
  --progress-value--hanging: #ffca00;
  --progress-value--after: #7ed321;
  --progress-value--rest: transparent;
}

@media (prefers-color-scheme: light) {
  .utio {
    --text-main: #000000;
    --text-mute: #606060;
    --text-link: #065fd4;

    --background: #f9f9f9;

    --progress-bar: #cccccc;
  }
}

@media (prefers-color-scheme: dark) {
  .utio {
    --text-main: #606060;
    --text-mute: #303030;
    --text-link: #3ea6ff;

    --background: #181818;

    --progress-bar: #303030;
  }
}

.utio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  height: 100vh;

  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14pt;

  color: var(--text-main);
  background-color: var(--background);

  transition: color 0.15s, background-color 0.15s;
}

.utio-main {
  min-height: 60%;
  padding: 4vh;
}

.utio-header {
  font-size: 12vw;
  font-weight: 700;

  margin-bottom: 4rem;
}

.utio-progress {
  display: block;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 56px;

  border: none;
  border-radius: var(--progress-border-radius);
}

.utio-progress::-webkit-progress-bar {
  border-radius: var(--progress-border-radius);
}

.utio-progress::-webkit-progress-value {
  border-radius: var(--progress-border-radius) 0 0 var(--progress-border-radius);
}

.utio-progress::-moz-progress-bar {
  border-radius: var(--progress-border-radius) 0 0 var(--progress-border-radius);
}

/*/ Coloring - for WebKit ////////////////////////////////////////////*/
.utio-progress::-webkit-progress-bar {
  background-color: var(--progress-bar);
}

.utio-progress::-webkit-progress-value {
  transition: background-color 0.15s;
}

.utio-progress.utio-progress--before::-webkit-progress-value {
  background-color: var(--progress-value--before);
}

.utio-progress.utio-progress--running::-webkit-progress-value {
  background-color: var(--progress-value--running);
}

.utio-progress.utio-progress--hanging::-webkit-progress-value {
  background-color: var(--progress-value--hanging);
}

.utio-progress.utio-progress--after::-webkit-progress-value {
  background-color: var(--progress-value--after);
}

.utio-progress.utio-progress--rest::-webkit-progress-value {
  background-color: var(--progress-value--rest);
}

/*/ Coloring - for Mozilla ///////////////////////////////////////////*/
.utio-progress {
  background-color: var(--progress-bar);
}

.utio-progress::-moz-progress-bar {
  transition: background-color 0.15s;
}

.utio-progress.utio-progress--before::-moz-progress-bar {
  background-color: var(--progress-value--before);
}

.utio-progress.utio-progress--running::-moz-progress-bar {
  background-color: var(--progress-value--running);
}

.utio-progress.utio-progress--hanging::-moz-progress-bar {
  background-color: var(--progress-value--hanging);
}

.utio-progress.utio-progress--after::-moz-progress-bar {
  background-color: var(--progress-value--after);
}

.utio-progress.utio-progress--rest::-moz-progress-bar {
  background-color: var(--progress-value--rest);
}

.utio-link {
  color: var(--text-link);

  text-decoration: none;
  transition: color 0.15s;
}

.utio-output {
  display: block;
  width: 100%;

  font-size: 1.25em;
  margin-top: 2rem;
}

.utio-footer {
  margin-top: 4rem;
  font-size: 1em;
}

.utio-footer {
  color: var(--text-mute);
}

.utio-nowrap {
  white-space: nowrap;
}
