.belt {
  --belt-primary: var(--primary, #12a5ed);
  --belt-success: var(--success, #7ed321);
  --belt-warning: var(--warning, #ffca00);
  --belt-failure: var(--failure, #f5325b);

  --belt-unknown: var(--unknown, #ffffff);

  --belt-tint: #ffffff06;
  --belt-tint-value: #ffffff33;

  height: 3.5rem;

  display: flex;
  flex-wrap: nowrap;
  gap: 0.0625rem;

  border-radius: 0.25rem;
  overflow: hidden;
}

.belt-item {
  height: 100%;

  background-color: var(--belt-unknown);
}

.belt-item--selected {
  background-size: 7rem 7rem;
  background-image: linear-gradient(
    45deg,
    var(--belt-tint) 25%,
    transparent 25%,
    transparent 50%,
    var(--belt-tint) 50%,
    var(--belt-tint) 75%,
    transparent 75%,
    transparent
  );

  animation: selected 1s linear infinite;
}

.belt-item > .belt-item__value {
  height: 100%;

  transition: background-color 2s;
}

.belt-item--selected > .belt-item__value {
  background-size: 7rem 7rem;
  background-image: linear-gradient(
    45deg,
    var(--belt-tint-value) 25%,
    transparent 25%,
    transparent 50%,
    var(--belt-tint-value) 50%,
    var(--belt-tint-value) 75%,
    transparent 75%,
    transparent
  );

  animation: selected 1s linear infinite;
}

.belt-item--primary > .belt-item__value {
  background-color: var(--belt-primary);
}

.belt-item--success > .belt-item__value {
  background-color: var(--belt-success);
}

.belt-item--warning > .belt-item__value {
  background-color: var(--belt-warning);
}

.belt-item--failure > .belt-item__value {
  background-color: var(--belt-failure);
}

@keyframes selected {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 14rem 7rem;
  }
}
