.utio {
  --font-family: 'system-ui', sans-serif;
  --font-size: 1rem;
  --font-weight: 400;
}

@media (prefers-color-scheme: light) {
  .utio {
    --text-main: #000000;
    --text-mute: #606060;
    --text-link: #065fd4;

    --background: #f9f9f9;

    --primary: #12a5ed;
    --success: #7ed321;
    --warning: #ffca00;
    --failure: #f5325b;
    --unknown: #cccccc;
  }
}

@media (prefers-color-scheme: dark) {
  .utio {
    --text-main: #606060;
    --text-mute: #303030;
    --text-link: #3ea6ff;

    --background: #181818;

    --primary: #12a5ed;
    --success: #7ed321;
    --warning: #ffca00;
    --failure: #f5325b;
    --unknown: #303030;
  }
}

.utio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 85rem;
  height: 100vh;

  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;

  color: var(--text-main);
  background-color: var(--background);

  transition: color 0.2s, background-color 0.2s;
}

.utio-main {
  min-height: 60%;
  padding: 4vh;
}

.utio-header {
  font-size: 12vw;
  font-weight: 700;

  margin-bottom: 2rem;
}

.utio-link {
  color: var(--text-link);

  text-decoration: none;
  transition: color 0.2s;
}

.utio-output {
  display: block;
  width: 100%;

  font-size: 1.25em;
  margin-top: 2rem;
}

.utio-footer {
  margin-top: 4rem;
  font-size: 1em;
}

.utio-footer {
  color: var(--text-mute);
}

.utio-nowrap {
  white-space: nowrap;
}

.utio-select {
  color: var(--text-link);

  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);

  background-color: transparent;
  outline: none;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 0;
  margin: 0;

  cursor: pointer;
}

.utio-legend {
  display: flex;
  justify-content: flex-end;
  gap: 1.125rem;

  margin: 1rem 0;
}

.utio-legend-item {
  display: flex;
  align-items: baseline;
}

.utio-legend-item__bulb {
  width: 0.5rem;
  height: 0.5rem;

  border-radius: 50%;

  margin-right: 0.375rem;
}

.utio-legend-item--primary > .utio-legend-item__bulb {
  background-color: var(--primary);
}

.utio-legend-item--success > .utio-legend-item__bulb {
  background-color: var(--success);
}

.utio-legend-item--warning > .utio-legend-item__bulb {
  background-color: var(--warning);
}

.utio-legend-item--failure > .utio-legend-item__bulb {
  background-color: var(--failure);
}

.utio-legend-item__text {
  font-size: 0.75rem;
}
